*{
    background-color: rgb(87, 226, 33);
    border: 0px;
    /* display: grid; */
}
#bg{
    /* color: brown; */
    text-align: center;
    height:10vh;
    width: 100%;
    background: #000;
    background-color: rgb(255, 255, 255);
    content: center;
    align-content: center;
    box-sizing: border-box;
    margin: 30px 10px 0px 10px;
    /* margin-inline-end:10px; */
    /* border: #000; */
    border-radius: 100px;
    padding: 10px 200px 10px 200px;
    display: grid;
    border: 5px solid blue;
}
#button{
    color: cyan;
    height: 0px;
    width: 0px;
    margin: auto;
    border: 10px;
    align-content: center;
    box-sizing: border-box;
    border-color: #000;
    font-size: large;
    font-weight: 1000;
    border: #000;
    border: 5px solid blue;
}