*{
    /* background-color: rgb(87, 226, 33); */
    border: 0px;
    /* display: grid; */
}
#bg{
    /* color: brown; */
    text-align: center;
    height:10vh;
    width: 100%;
    background-color: rgb(227, 177, 27);
    /* content: center; */
    align-content: center;
    box-sizing: border-box;
    margin: 30px 10px 0px 10px;
    /* margin-inline-end:10px; */
    /* border: #000; */
    border-radius: 100px;
    padding: 10px 200px 10px 200px;
    display: flex;
    border: 5px solid blue;
}
.button{
    color: rgb(255, 255, 255);
    height: auto;
    width: auto;
    margin: auto;
    border: 10px;
    align-content: center;
    box-sizing: border-box;
    border-color: #000;
    font-size: 15px;
    font-weight: 1000;
    border: #000;
    border-radius: 10px;
    border: 3px solid blue;
    background-color: rgb(0, 0, 0);

}
#b1{
    background: rgb(255, 255, 255);
    color: black;
}
#b3{
    background: rgb(255, 255, 255);
    color: black;
}